.admin-navbar {
  width: 100%;
  display: flex;
  background-color: rgb(129, 129, 129);
  justify-content: space-around;
  align-items: center;
}

.admin-navbar-left {
  width: 80%;
  display: flex;
  background-color: rgb(112, 85, 85);
  justify-content: space-around;
  align-items: center;
}

.admin-navbar-right {
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo-admin{
  width: 200px;
}

.nav-links{
  width: 70%;
}

.admin-navbar-left ul {
  display: grid;
  align-items: center;
  grid-template-rows: repeat(3,30px);
  grid-template-columns: repeat(auto-fit,minmax(100px,1fr));
}

.admin-navbar-left ul li {
  height: 40px;
  margin: 5px;
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.admin-navbar-left ul li a {
  text-decoration: none;
  font-size: 30px;
  font-weight: 500;
  color: rgb(30, 6, 95);
}
